// Tipografia
$font_main: 'Montserrat', sans-serif;
 
// Colores
$green: #4CB8B3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;
$grey: #c1c1c1;

$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1248px;