@use 'base/variables' as v;

.site-footer {
    background-color: v.$pink;
    padding: 2rem 0;
    
    p {
        margin: 0;
        text-align: center;
        color: v.$white;
        font-weight: 400;
    }
}